{% extends 'base.html' %}

{% block content %}
    <h2>Choose your move:</h2>
    <form action="/play" method="post">
        <button type="submit" name="choice" value="Wand">Wand</button>
        <button type="submit" name="choice" value="Spellbook">Spellbook</button>
        <button type="submit" name="choice" value="Potion">Potion</button>
        <button type="submit" name="choice" value="Thestral">Thestral</button>
        <button type="submit" name="choice" value="Phoenix">Phoenix</button>
    </form>
    <h3>Score</h3>
    <p>Player: {{ player_score }}</p>
    <p>Computer: {{ computer_score }}</p>
{% endblock %}
